<% include ../partials/header.ejs %>

<body>
  <h1>We Sorry!</h1>
  <h4>Your search has no results.</h4>
  <div class="form-group">
    <div class="col-sm-10">
      <button type="cancel" class="btn btn-default" onclick="window.location='http://localhost:3000/';return false;">Ok</button>
    </div>
  </div>
</body>

