<% include ../partials/header.ejs %>

<body>
  <h1>Write your page's Markup and page slug:</h1>
  <div class="container">
    <form class="form-horizontal" method="POST" action="/api/v1/landing-pages/update">
      <div class="form-group">
        <label for="slug" class="col-sm-2 control-label">Slug</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value=<%= slug %> id="slug" name="slug" placeholder="Slug">
        </div>
      </div>
      <div class="form-group">
        <label for="markup" class="col-sm-2 control-label">Markup</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="markup" name="markup"><%= results %></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Send</button>
          <button type="cancel" class="btn btn-default" onclick="window.location='http://localhost:3000/';return false;">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</body>

