<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type='text/javascript' src='/javascripts/client.js'></script>
</head>

<body>
  <div class="container">
    <div class="form-group">
    Write your page's Slug:
    </div>
    <form class="form-horizontal" method="GET" action="/api/v1/landing-pages/edit">
      <div class="form-group">
        <label for="slug" class="col-sm-2 control-label">Slug</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Send</button>
          <button type="cancel" class="btn btn-default" onclick="window.location='http://localhost:3000/';return false;">Cancel</button>
        </div>
      </div>
    </form>
  </div>

</body>

