<% include ../partials/header.ejs %>

<body>
  <h1>Please click an Option</h1>
  <a href="/api/v1/landing-pages/new">Create New Page</a>
  <p></p>
  <a href="/api/v1/landing-pages">See your saved Slugs</a>
  <p></p>
  <a href="/api/v1/landing-pages/update/update">Edit an Existing Page</a>
  <p></p>
  <a href="/api/v1/landing-pages/search">See an Existing Page</a>
  <p></p>
<p>Also, go to http://localhost:3000/api/v1/landing-pages/example-slug To see a particular page</p>
</body>

