<% include ../partials/header.ejs %>

<body>
  <h1>Your Page was Successfully created!</h1>
  <p/>
  <div class="form-group">
    <div class="col-sm-10">
      <button type="cancel" class="btn btn-default" onclick="window.location='http://localhost:3000/';return false;">Back Home</button>
    </div>
  </div>
</body>

