<% include ../partials/header.ejs %>

<body>
  <h1>Your Saved Slugs</h1>
  <p>Currently you have the following Slugs:</p>
  <p><%= slugs %></p>
  <div class="form-group">
    <div class="col-sm-10">
      <button type="cancel" class="btn btn-default" onclick="window.location='http://localhost:3000/';return false;">Ok</button>
    </div>
  </div>
</body>

